<div class="container text-center">
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1 class="display-4">Hello Admin {{adminName}}</h1>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra
                    attention to featured content or information.</p>
                <hr class="my-4">
                <p><a class="btn btn-success btn-lg" routerLink="/management/{{username}}/add" role="button">Add New
                    user</a></p>

                <ul class="list-group">
                    <li *ngFor="let user of users" [id]="user.id" class="list-group-item"> {{user.fname}} {{user.lname}} <a
                            (click)="deleteUser(user.id)" class="btn btn-danger btn-lg" role="button">Delete</a></li>
                </ul>

                <a class="btn btn-primary btn-lg  sign-out" routerLink="/login" role="button">Sign out</a>
            </div>
        </div>
    </div>
</div>
