<div class="container text-center">
    <button type="submit" routerLink="/management/{{adminUsername}}" class="btn btn-primary btn-lg">Back</button>
    <div class="row align-items-center">
        <div class="col-lg-6 offset-lg-3">
            <h3>Add New User</h3>
            <form (submit)="AddNewUser()">
                <div class="form-group">
                    <input type="text" #fname="ngModel" required name="newFName" [(ngModel)]="newFName" class="form-control"
                           placeholder="First Name">
                    <div [hidden]="fname.valid || fname.pristine"
                         class="alert alert-danger">
                      First Name is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" #lname="ngModel" required name="newLName" [(ngModel)]="newLName" class="form-control"
                           placeholder="Last Name">
                    <div [hidden]="lname.valid || lname.pristine"
                         class="alert alert-danger">
                      Last Name is required
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" #uname="ngModel" required name="newUsername" [(ngModel)]="newUsername" class="form-control"
                           placeholder="Username">
                    <div [hidden]="uname.valid || uname.pristine"
                         class="alert alert-danger">
                        Username is required
                    </div>
                </div>
                <button type="submit" [disabled]="fname.invalid || lname.invalid || uname.invalid" class="btn btn-primary btn-lg btn-block">Add</button>
            </form>
        </div>
    </div>
</div>
